.page-header {
}
.main-nav {
}
.main-nav__list {
}
.main-nav__list--site {
}
.main-nav__item {
}
.main-nav__link {
}
.main-nav__link--active {
}
.main-nav__list--user {
}
.main-nav__link--search {
}
.visually-hidden {
}
.main-nav__link--favorite {
}
.favorite-count {
}
.main-nav__button {
}
.main-catalog {
}
.main-catalog__header {
}
.main-catalog__title {
}
.breadcrumbs {
}
.breadcrumbs__item {
}
.breadcrumbs__link {
}
.breadcrumbs__icon {
}
.main-catalog__section {
}
.catalog-filter {
}
.catalog-filter__group {
}
.catalog-filter__title {
}
.catalog-filter__list {
}
.catalog-filter__item {
}
.catalog-filter__label {
}
.catalog-filter__control {
}
.catalog-filter__text {
}
.catalog-filter__group--price {
}
.catalog-filter__price-inputs {
}
.catalog-filter__price-label {
}
.catalog-filter__price-text {
}
.catalog-filter__price-input {
}
.catalog-filter__range {
}
.catalog-filter__range-input {
}
.catalog-filter__actions {
}
.catalog-filter__button {
}
.catalog-filter__button--apply {
}
.catalog-filter__button--reset {
}
.catalog-results {
}
.catalog-results__controls {
}
.catalog-results__title {
}
.catalog-results__count {
}
.catalog-results__sorting {
}
.catalog-results__select {
}
.catalog-results__view {
}
.catalog-results__view-item {
}
.catalog-results__view-button {
}
.catalog-results__view-button--grid {
}
.catalog-results__view-button--large {
}
.catalog-results__view-button--list {
}
.catalog-results__list {
}
.catalog-results__item {
}
.hotel-card {
}
.hotel-card__image-link {
}
.hotel-card__image {
}
.hotel-card__title {
}
.hotel-card__title-link {
}
.hotel-card__info {
}
.hotel-card__type {
}
.hotel-card__price {
}
.hotel-card__actions {
}
.hotel-card__button {
}
.hotel-card__button--more {
}
.hotel-card__button--favorite {
}
.hotel-card__rating {
}
.hotel-card__stars {
}
.hotel-card__stars--4 {
}
.hotel-card__rating-value {
}
.hotel-card__stars--3 {
}
.hotel-card__stars--2 {
}
.pagination {
}
.pagination__list {
}
.pagination__item {
}
.pagination__link {
}
.pagination__link--current {
}
.pagination__ellipsis {
}
.page-footer {
}
.footer-socials {
}
.footer-socials-list {
}
.footer-socials-item {
}
.footer-socials-link {
}
.footer-phone {
}
.footer-logo {
}
