.page-header {
}
.main-nav {
}
.main-nav__list {
}
.main-nav__list--site {
}
.main-nav__item {
}
.main-nav__link {
}
.main-nav__link--active {
}
.main-nav__list--user {
}
.main-nav__link--search {
}
.visually-hidden {
}
.main-nav__link--favorite {
}
.favorite-count {
}
.main-nav__button {
}
.main-content {
}
.hero {
}
.hero__title {
}
.hero__image {
}
.advantages {
}
.advantages__title {
}
.advantages__description {
}
.advantages__list {
}
.advantages__item {
}
.advantages__item-title {
}
.advantages__item-text {
}
.advantages__item-image {
}
.advantages__text {
}
.advantages__list--services {
}
.reservation {
}
.reservation__title {
}
.reservation__text {
}
.reservation__button {
}
.subscription {
}
.subscription__title {
}
.subscription__text {
}
.subscription__form {
}
.subscription__label {
}
.subscription__input {
}
.subscription__button {
}
.page-footer {
}
.footer-socials {
}
.footer-socials-list {
}
.footer-socials-item {
}
.footer-socials-link {
}
.footer-phone {
}
.footer-logo {
}
